<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Social Charm</title>

<div class="container">
  <div class="page-header">
    <head>
      <h1>Mirror, mirror, who is the most charming person in the world?</h1>
      <h1> Play a game to learn the secrets of your social charm!</h1>
    </head>
  </div>
  


  <div class="jumbotron">
    <body>
      <a href="/login" class="text-center " style="font-size: 100px;">Let's start from here!</a>
    </body>
  </div>
</div>
	
	


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '415713675450182',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>