<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/mystyle.css">
	<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 	<script>
 		var id = parent.document.URL.substring(parent.document.URL.indexOf('?id='), parent.document.URL.length);
 		var imgIdx = id.split("=")[1];
 		var imgIdx_int = Math.round(imgIdx)+1;
 		var imgIdx_next = imgIdx_int.toString()

    </script>

	<<div style="text-align: center;">
		
	
	{#	<p><font  face="tahoma" size=4 color="#3b5998"> Hello, Shuai! </font></p>#}
	{#	<p><font  face="tahoma" size=4 color="#3b5998"> Which of these pictures is more attractive to you? </p>#}
	    <h1 style="color:#a26be5;"> Hello, Shuai!  </h1>
		<h2 style="color:#f28435;"> Which of these pictures is more attractive to you? </h2>
		<div id="status"></div>
		{#	<script>#}
	{#		document.getElementById('status').innerHTML =#}
	{#			'<img src="'+imgIdx+'.jpg" height=320>'#}
	{#	</script>#}
	    <script>
			document.getElementById('status').innerHTML =
				'<img src="{{ url_for('static', filename='img/1.jpg') }}" height=320>'
		</script>
		<!-- <div><img src='shuaitang.jpg'></div> -->
		<br>
		<div id="next"></div>

	{#	<script>#}
	{#		document.getElementById('next').innerHTML =#}
	{#			'<img src="'+imgIdx+'.jpg" height=320>'#}
	{#	</script>#}
	    <script>
			document.getElementById('next').innerHTML =
				'<img src="{{ url_for('static', filename='img/1.jpg') }}" height=320>'
		</script>



		<div class="stars">
		  <form action="">
		    <input class="star star-7" id="star-7" type="radio" name="star"/>
		    <label class="star star-7" for="star-7"></label>
		    <input class="star star-6" id="star-6" type="radio" name="star"/>
		    <label class="star star-6" for="star-6"></label>
		    <input class="star star-5" id="star-5" type="radio" name="star"/>
		    <label class="star star-5" for="star-5"></label>
		    <input class="star star-4" id="star-4" type="radio" name="star"/>
		    <label class="star star-4" for="star-4"></label>
		    <input class="star star-3" id="star-3" type="radio" name="star"/>
		    <label class="star star-3" for="star-3"></label>
		    <input class="star star-2" id="star-2" type="radio" name="star"/>
		    <label class="star star-2" for="star-2"></label>
		    <input class="star star-1" id="star-1" type="radio" name="star"/>
		    <label class="star star-1" for="star-1"></label>
		  </form>
		</div>

		<div><font face="tahoma" size=4 color="#F62"> less likely </font> <font face="tahoma" size=4 color="#3b5998">&#8660;</font> <font color="#005" face="tahoma" size=4 >more likely </div>
		</div>
	<div id="click"></div>
{#	<script>#}
{#	if (imgIdx_int < 7 ) {#}
{#		document.getElementById('click').innerHTML =#}
{#	    '<ul class="pager"><li><a href="#">Previous</a></li><li><a href="index1.html?id='+imgIdx_next+'">Next</a></li></ul>'#}
{#	} else {#}
{#		document.getElementById('click').innerHTML =#}
{#	    '<ul class="pager"><li><a href="#">Previous</a></li><li><a href="index2.html">Next</a></li></ul>'#}
{#	}#}
{# 	</script>#}
    <ul class="pager">
	    <li><a href="#">Previous</a></li>
{#	    <li><a href="rate_people.html?id=2">Next</a></li>#}
        <li><a href="/result">Next</a></li>
 	</ul>
</body>
</html>